/*
 * My Stylesheet to Atom
 *
 * Bruno Fernando
 */

// Font size of the tree view
.tree-view {
  font-size: 1.2em;
}

// Font Family on the atom-text-editor-element itself
atom-text-editor {
  font-family: "Operator Mono";
}

// Style on the cursor
atom-text-editor::shadow .cursor {
  border-color: #fffc67;
  border-width: 4px;
}
