/*
* My Stylesheet to Atom
*
* Bruno Fernando
*/

.font-italic {
  font-style: italic;
  vertical-align: baseline;
  height: inherit;
}

.font-main {
  font-family: 'Fira Code';
  font-style: normal;
  text-rendering: optimizeLegibility;
}

atom-text-editor {
  &:extend(.font-main);
  background-color: transparent;
}

atom-text-editor::shadow {
  .string.quoted,
  .string.regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }

  // Style on the cursor
  .cursor {
    border-color: #fffc67;
    border-width: 4px;
  }

  .comment {
    &:extend(.font-italic);
  }

  .text.html .attribute-name,
  .source.js.jsx > .keyword.control.flow.js,
  .storage, .type .function {
    &:extend(.font-italic);
    font-weight: bold;
    background-color: transparent !important;
  }

  .source.js.jsx,
  .storage.type.function.arrow.js,
  .variable {
    &:extend(.font-main);
    background-color: transparent;
    font-weight: bold;
  }

}
