'.source.scss':
  'Medias queries | setRobot':
    'prefix': 'medias'
    'body': '''
    @include media($xs-screen) {
      $1
    }

    @include media($small-screen) {
      $2
    }

    @include media($medium-screen) {
      $3
    }

    @include media($large-screen) {
      $4
    }
'''
